<div class="alert alert-danger" ng-if="message.error">
    {{message.error}}
</div>
<div class="alert alert-success" ng-if="message.success">
    {{message.success}}
</div>
<div id="Toolbar">
    <a ui-sref="form_create" class="btn btn-success"><i class="fa fa-plus-circle"></i> <span>添加</span></a>
    <a class="btn btn-danger" ng-disabled="!userTableCtrl.state.selected.length" ng-click="removeUsers()"><i class="fa fa-trash-o"></i> <span>删除</span></a>
</div>
<table bs-table-control="userTableCtrl"></table>
<div class="well">
    <h5>userTableCtrl.state: </h5>
    <p>{{userTableCtrl.state}}</p>
</div>