@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/forms";
.mini{
    width:60px;
}
.small{
    width:94px;
}
.medium{
    width:148px;
}
.large{
    width:360px;
}
.xlarge{
    width:500px;
}