@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/forms";
.mini{
    width:60px;
}
.small{
    width:100px;
}
.medium{
    width:160px;
}
.long{
    width:240px;
}
.large{
    width:360px;
}
.xlarge{
    width:500px;
}
.mini,.small,.medium,.large,.xlarge{
    max-width: 100%;
}
.form-inline .form-control{
    &.mini{
        width:60px;
    }
    &.small{
        width:100px;
    }
    &.medium{
        width:160px;
    }
    .long{
        width:240px;
    }
    &.large{
        width:360px;
    }
    &.xlarge{
        width:500px;
    }
}
.control-label .required:before{
    content: '*';
    color:red;
    vertical-align: middle;
    padding-top: 5px;
    margin-right: 3px;
}