/*登录页面*/
.logo a img{
    display: inline-block;
    width: 160px;
    margin-top: -8px;
}
.logo .zhdl{
    display: inline-block;
    float: left;
    font-size: 18px;
    font-family: '微软雅黑';
}
.more ul li a{
        display: inline-block;
        height:10px;
        font-size: 10px;
        font-family: '微软雅黑';
        margin-top: -15px;
        
    }

@media screen and (min-width: 780px) {
    .more{
        float:right;
        margin-right: 30px;
        margin-top: 20px;
    }
    .more ul{
        height: 14px;
        line-height: 14px;
    }
    .more ul li{
        border-left: 1px solid #4d4d4d;
        padding-bottom: 3px;
    }
    .more ul li:first-child{
        border-left:none;
    }
    #content .login-img img{
        display: inline-block;
        float: right;
        width: 450px;
        height: 350px;
        margin-top: 95px;
    }
    #content .login-table{
        margin-left:40px;
    }
}

@media screen and (min-width: 790px) and (max-width: 965px) {
    #content .login-img img{
        height: 280px;
        width: 360px;
        margin-top: 95px;
    } 
    
    .more{
        float:right;
        margin-right: 30px;
        margin-top: 20px;
    }
    .more ul{
        height: 14px;
        line-height: 14px;
    }
    .more ul li{
        border-left: 1px solid #4d4d4d;
        padding-bottom: 3px;
    }
    .more ul li:first-child{
        border-left:none;
    }
}

@media screen and (min-width: 768px) and (max-width: 790px) {
    #content .login-img img{
        height: 280px;
        width: 360px;
        margin-top: 95px;
    } 
    
    .more{
        float:right;
        margin-right: 30px;
        margin-top: 20px;
    }
    .more ul{
        height: 14px;
        line-height: 14px;
    }
    .more ul li{
        border-left: 1px solid #4d4d4d;
        padding-bottom: 3px;
    }
    .more ul li:first-child{
        border-left:none;
    }
}

@media screen and (max-width: 768px) {
    #content .login-table{
        margin:0 auto;
    } 
    .more ul li{
        display: inline-block;
        border:none;
    }
    .more ul li a{
        font-size: 14px;
    }
}

    #content{
        position: relative;
        min-height:585px;
        vertical-align:middle;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        vertical-align: middle;
        border-bottom: 1px solid #e5e5e5;
    }
    
    #content .login-table{
        width: 294px;
        height: 357px;
        border:1px solid #ccc;
        margin-top: 95px;
        font-family: 'Microsoft Yahei';
        font-size: 12px;
    }
    
    #content .login-table a{
        text-decoration: none;
        color:rgb(0,162,202);
        font-weight: normal;    
    }
    
    #content .login-table .form-group{
        width:250px;
        margin: 0 auto;
        margin-top: 35px;
    }
    
    #content .login-table .form-group label:first-child{
        font-weight: 700;
    }
    
    #content .login-table .form-group label.fp{
        float: right;
    }
    
    #content .login-table input.lg{
        width:250px;
        margin-top: 30px;
        margin-left: 22px;
    }
    
    #content .login-table p{
        float: right;
        margin-right: 22px;
        margin-top: 15px;
    }

    footer{
        clear: both;
    }
    footer .copyright{
        text-align: center;
        font-size: 12px;
        padding: 35px 0 40px;
    }
    
    footer .copyright p.link span a{
        margin-right: 10px;
        color: #666;
        font-family:  'Microsoft Yahei';
        font-size: 14px;
    }

