.tip{
    display: block;
    width: 990px;
    text-align: right;
    margin: 20px auto;
    color: #666;
    font-size: 12px;
}
.goods{
    width: 990px;
    margin: 0 auto;
    line-height: 35px;
    font-size: 14px;
    color:red;
    background: #edf4f9;
    border: 1px solid #dae6e7;
    padding: 5px 10px;
}
.registerContent{
    width: 990px;
    margin: 0 auto;
    font-size: 10px;
    font-family: '微软雅黑';
}
.registerContent form{
    margin-left:250px;
    padding-top: 50px;
}
.registerContent form .form-group .star{
    color:red;
    vertical-align: middle;
    margin-right: 3px;
}


.registerContent form .form-group .register{
    height: 34px;
    width: 90px;
    margin-left: 215px;
}


.registerContent form .form-group #inputEmail{
    width:520px;
}