<div class="panel panel-default"> 
    <div class="panel-body">
        <a ui-sref="table" class="btn btn-default"><i class="fa fa-reply"></i> <span>返回</span></a>
    </div>
</div>    
<div class="panel panel-default">    
    <div class="panel-body">
        <form id="userForm" class="form-horizontal validate" ng-submit="submit()">
            <div class="col-md-12">
                <div class="col-md-6 form-group form-inline">
                    <label for="number" class="col-sm-3 control-label"><i class="required"></i> 编号：</label>
                    <div class="col-sm-9">
                        <input ng-model="form.user.number" type="text" name="number" class="form-control medium" value="" placeholder="用户的工号等唯一编号" data-rules="required" data-empty-msg="请输入唯一编号" />
                    </div>
                </div>
                <div class="col-md-6 form-group form-inline">
                    <label for="name" class="col-sm-3 control-label"><i class="required"></i> 姓名：</label>
                    <div class="col-sm-9">
                        <input ng-model="form.user.name" type="text" name="name" class="form-control medium" value="" placeholder="用户姓名" data-rules="required" data-empty-msg="请输入姓名" />
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6 form-group form-inline">
                    <label for="mobile" class="col-sm-3 control-label"><i class="required"></i> 手机号：</label>
                    <div class="col-sm-9">
                        <input ng-model="form.user.mobile" type="text" name="mobile" class="form-control medium" value="" placeholder="用户手机号" data-rules="required" data-empty-msg="使用手机号登录" />
                    </div>
                </div>
                <div class="col-md-6 form-group form-inline">
                    <label for="email" class="col-sm-3 control-label">邮箱：</label>
                    <div class="col-sm-9">
                        <input ng-model="form.user.email" type="text" name="email" class="form-control large" value="" placeholder="用户邮箱"/>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6 form-group form-inline">
                    <label for="gender" class="col-sm-3 control-label"><i class="required"></i> 性别：</label>
                    <div class="col-sm-9">
                        <label class="radio inline" ng-class="{checked:form.user.gender == 1}">
                            <input type="radio" name="gender" value="1" ng-model="form.user.gender"><span>男</span>
                        </label>
                        <label class="radio inline" ng-class="{checked:form.user.gender == 2}">
                            <input type="radio" name="gender" value="2" ng-model="form.user.gender"><span>女</span>
                        </label>
                    </div>
                </div>
                <div class="col-md-6 form-group form-inline">
                    <label for="birthday" class="col-sm-3 control-label"><i class="required"></i> 出生日期</label>
                    <div class="col-sm-9">
                        <input ng-model="form.user.birthday" type="text" id="birthday" name="birthday" class="form-control medium" value="" placeholder="出生日期" data-rules="required" data-toggle="datepicker" data-date-timepicker="true" ng-input/>
                    </div>
                </div>                
            </div>
            <div class="col-md-12">
                <div class="col-md-6 form-group form-inline">
                    <label class="col-sm-3 control-label"><i class="required"></i> 爱好：</label>
                    <div class="col-sm-9">
                        <label class="checkbox inline" ng-class="{checked:form.user.like.run}">
                            <input type="checkbox" name="like[]" value="run" ng-model="form.user.like.run"><span>跑步</span>
                        </label>
                        <label class="checkbox inline" ng-class="{checked:form.user.like.football}">
                            <input type="checkbox" name="like[]" value="football" ng-model="form.user.like.football"><span>足球</span>
                        </label>
                        <label class="checkbox inline" ng-class="{checked:form.user.like.basketball}">
                            <input type="checkbox" name="like[]" value="basketball" ng-model="form.user.like.basketball"><span>篮球</span>
                        </label>
                        <label class="checkbox inline" ng-class="{checked:form.user.like.pingpong}">
                            <input type="checkbox" name="like[]" value="pingpong" ng-model="form.user.like.pingpong"><span>乒乓球</span>
                        </label>
                    </div>                    
                </div>    
                <div class="col-md-6 form-group form-inline">
                    <label for="good_at" class="col-sm-3 control-label"><i class="required"></i> 特长：</label>
                    <div class="col-sm-9">
                        <select id="good_at" class="medium" ng-input ng-model="form.user.good_at">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </div>   
            </div>
            <div class="col-md-12">
                <div class="col-md-6 form-group form-inline">
                    <label for="password" class="col-sm-3 control-label"><i class="required"></i> 头像：</label>
                    <div class="col-sm-9">
                        <input type="text" ng-input ng-model="form.user.avatar" data-toggle="cropupload" data-multiple="1" data-height="80"   data-title="点击上传头像" data-field="file" data-url="/api/ueditor" autocomplete="off" value="" name="thumb">
                        <!--<input type="text" ng-input ng-model="form.user.avatar" data-toggle="cropupload" data-height="80" data-title="点击上传头像" data-field="file" data-url="/api/ueditor" autocomplete="off" value="" name="thumb">-->
                        
                    </div>
                </div>
            </div>            
            <div class="col-md-12">
                <div class="col-md-6 form-group form-inline">
                    <div class="col-sm-offset-3 col-sm-9">
                        <input type="submit" class="btn btn-primary" value="提 交"/>
                    </div>
                </div>                
            </div>            
        </form>
        <div>
            <h5>form.user:</h5>
            <p>{{form.user}}</p>
        </div>
    </div>
</div>